<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>The Tech Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/jass.css" />

  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h2>
          <a href="/">Home</a>
        </h2>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <h2>
              <a href="/profile">Dashboard</a>
            </h2>
            <button class="no-button" id="logout">logout</button>
          {{else}}
            <h2>
              <a href="/login">Login</a>
            </h2>
          {{/if}}
        </nav>
      </header>
      <h1 class="display-flex justify-space-between align-center p-2">The Tech
        Blog
      </h1>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>